.contentTab
{

  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  color: #495057;
  width: 100%;
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  padding: 10px 10px 10px 10px;
}
