@import "../variable";
@import "~bootstrap/scss/bootstrap";


.content {
    background: $content-bg;
    display: inline-block;
    min-height: 200px;
    width: 60%;

}
.min-height{
  min-height:60%;
}
.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
.list-unstyled li:hover{
  text-decoration: underline;
}
.list-unstyled li{
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.todoCompl{
  color: $gray-600;
  text-decoration: line-through;
}
.todoNoCopl{
  color: $gray-800;
}
